{% extends 'base.html.twig'  %}
{% block title %} TEST-egio {% endblock %}

{% block body %}
    <div class="container"> 
            
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-4 mx-auto p-4 ">
                        <div class="card-body ">
                    <!-- alerte -->
                            {% if msg is defined %}       
                                    <div class="alert alert-success" role="alert">
                                        Votre témoignage a bien été ajouté !
                                    </div>
                            {% endif %}
                    <!-- formulaire -->
                                {{ form_start(form) }}
                                <form id="contact-form"  action="save" method="get" enctype="multipart/form-data">
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"> 
                                                <label  class="font-weight-bold">Titre *</label> 
                                                {{ form_widget(form.titre, {'attr': {'class': 'form-control','placeholder':'titre'}}) }}
                                            </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"> 
                                                <label  class="font-weight-bold">Image *</label> 
                                                {{ form_widget(form.image, {'attr': {'class': 'form-control','accept':'image/jpeg , image/png , .doc, .docx'}}) }}
                                            </div>
                                        </div>                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"> 
                                                <label  class="font-weight-bold" >Message *</label> 
                                                {{ form_widget(form.message, {'attr': {'class': 'form-control','placeholder':'message','rows':'4'}}) }}
                                            </div>
                                            <div class="col-md-12"> 
                                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-send pt-2 btn-block font-weight-bold mt-2'}}) }}

                                        </div>
                                    </div>
                                </form>
                                {{ form_end(form) }}

                        
                        </div>
                    </div> <!-- /.8 -->
                </div> <!-- /.row-->
            </div>
        </div>

    </div>
    <!-- liste des témoignages approuvé -->
        <h1 class="text-center m-4">TESTIMONIALS</h1>
        <div class="row">
            {% for testimonial in testimonials %}
                {% if testimonial.statut == 'approuvé' %}       
                    <div class="col-3 mt-2 mb-3 box"  draggable="true">
                        <img class="card-img-top" draggable="true" src="{{ asset('img/'~testimonial.getImage()) }}" alt="Card image cap">
                            <h5 class="card-title text-center">{{ testimonial.titre }}</h5>
                            <p class="card-text text-center">{{ testimonial.message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}